<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Главная</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/fonts.css">
        <link href="css/style.css" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="js/jquery.min_1.11.0.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/slick.js"></script>
        <script src="js/script.js"></script>
        <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    </head>
    <body>
        <div id="wrapper" class="">
            <header class="">
                <div class="hat">
                    <div class="inner">
                        <div class="logo">
                            <a href="/">Логотип</a>
                        </div>
                        <div class="search">
                            <a href="#" class="main"></a>
                            <form action="">
                                <input type="text" placeholder="Поиск...">
                                <input type="submit" value="">
                            </form>
                        </div>
                        <div class="phone">
                            <a href="tel:89518561905"></a>
                        </div>
                        <div class="lk">
                            <a href="#"></a>
                        </div>
                        <div class="basket">
                            <a href="#"></a>
                        </div>
                    </div>
                </div>
                <div class="menu">
                    <div class="block">
                        <div class="item">
                            <a class="main" href="#">Для нее</a>
                            <div class="sub_block">
                                <div class="sub_item">
                                    <span><a href="#">Стимуляторы</a></span>
                                    <span><a href="#">Анальные стимуляторы</a></span>
                                    <span><a href="#">Вагинальные стимуляторы</a></span>
                                    <span><a href="#">Какие-то стимуляторы</a></span>
                                </div>
                                <div class="sub_item">
                                    <span><a href="#">Вагинальные шарики</a></span>
                                </div>
                                <div class="sub_item">
                                    <span><a href="#">Вакуумные помпы</a></span>
                                </div>
                                <div class="sub_item">
                                    <span><a href="#">Вибраторы</a></span>
                                </div>
                                <div class="sub_item">
                                    <span><a href="#">Вибротрусики, бабочки</a></span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="item">
                            <a class="main" href="#">Для него</a>
                            <div class="sub_block">
                                <div class="sub_item">
                                    <span><a href="#">Анальные стимуляторы</a></span>
                                </div>
                                <div class="sub_item">
                                    <span><a href="#">Вибраторы</a></span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="item">
                            <a class="main" href="#">Для пар</a>
                            <div class="sub_block">
                                <div class="sub_item">
                                    <span><a href="#">Стимуляторы</a></span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="item">
                            <a class="main" href="#">Белье</a>
                            <div class="sub_block">
                                <div class="sub_item">
                                    <span><a href="#">Стимуляторы</a></span>
                                </div>
                                <div class="sub_item">
                                    <span><a href="#">Вибраторы</a></span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="item">
                            <a class="main" href="#">БДСМ</a>
                            <div class="sub_block">
                                <div class="sub_item">
                                    <span><a href="#">Стимуляторы</a></span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </header>
            <div class="main_content">
                <div class="poster mini">
                    <a href="#">
                        <img src="img/mini3.jpg" alt="foto">
                    </a>
                </div>
                <div class="pagination_top">
                    <a href="#">Главная</a>
                    <a href="#">Статьи</a>
                    <a href="#">Виды фаллоимитаторов</a>
                </div>
                <div class="page_article">
                    <div class="list_artic">
                        <div class="title">Меню<span class="ic_show">+</span><span class="ic_hide">-</span><span class="cursor_wrap"></span></div>
                        <div class="block">
                            <a class="active" href="/personal/">Виды фаллоимитаторов</a>
                            <a href="/personal/order/">Какую смазку для интима выбрать.</a>
                            <a href="/personal/private/">Страпон. Что это и как использовать.</a>
                            <a href="/personal/cart/">Из каких материалов делают секс-игрушки.</a>
                        </div>
                    </div>
                    <div class="text_artic">
                        <h1>Вагинальные шарики: для чего нужны и как пользоваться</h1>
                        <div class="p_artic">
                            <div class="tit">Определение</div>
                            <p><span>Вагинальные шарики</span> - это тренажер для укрепления интимных мышц женщин.
                                Тренировки способствуют сужению влагалища, более плотному обхвату пениса во время
                                полового акта, для восстановления эластичности мышц влагалища после родов, приятные
                                ощущения во время использования.
                            </p>
                            <div class="tit">История</div>
                            <p>
                                Вагинальные шарики начали использовать еще в глубокой древности, первые упоминания о
                                них датируются около 3000 лет назад на Тибете. «Камасутра» и ряд других древних книг
                                о искусстве любви содержат упоминания о способности управлять интимными мышцами.
                                На Востоке этому искусству обучались только избранные — императрицы, наложницы,
                                гейши. Широкой общественности такие знания были недоступны. В качестве тренажеров
                                использовали гладкие яйцеобразные камни, шарики из металла или слоновой кости.
                            </p>
                            <p>
                                К 18 веку вагинальные шарики добрались и до Европе, а именно до Франции. В первую
                                очередь владению интимными мышцами обучались куртизанки для удовлетворения королей и
                                высокопоставленной знати.
                            </p>
                            <p>
                                Современный вид и широкое распространение вагинальные шарики получили благодаря
                                профессору медицины Арнольду Кегелю. Он занимался исследованием недержания мочи и
                                женщин и разработал ряд упражнений для восстановления и укрепления мышц тазового дна,
                                а также сам тренажер.
                            </p>
                            <div class="tit">Виды вагинальных шариков</div>
                            <p>
                                Сейчас в секс-шопах нашей необъятной представлено огромное количество различных
                                вариаций вагинальных шариков. Обычно они изготавливаются из силикона, стекла, пластика
                                и металла. И бывают со смещенным центром тяжести и утяжеленные.
                            </p>
                            <p>Рассмотрим популярные виды:</p>
                        </div>
                        <div class="img_block">
                            <div class="item">
                                <div class="img">
                                    <img src="img/sfera_1.jpg" alt="">
                                </div>
                                <div class="txt">
                                    <div class="descr">
                                        2 или 3 шара, соединенных друг с другом и петлей для комфортного извлечения.
                                        Сцепка шариков бывает жесткой и мягкой. В случае соединения шаров шнурком или
                                        другим пористым материалом, необходимо уделить большее внимания очистке и
                                        обработке материала сцепки;
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="item">
                                <div class="img">
                                    <img src="img/sfera_2.jpg" alt="">
                                </div>
                                <div class="txt">
                                    <div class="descr">
                                        тренажер в виде гантельки - схож с предыдущим видом, шарики плавно перетекают
                                        один в другой;
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="item">
                                <div class="img">
                                    <img src="img/sfera_3.jpg" alt="">
                                </div>
                                <div class="txt">
                                    <div class="descr">
                                        отдельные друг от друга сферы, не связанные между собой. Не рекомендуются на
                                        начальном этапе тренировок ввиду отсутствия петли для извлечения;
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="item">
                                <div class="img">
                                    <img src="img/sfera_4.jpg" alt="">
                                </div>
                                <div class="txt">
                                    <div class="descr">один вагинальный шарик с ниточкой для извлечения;</div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="item">
                                <div class="img">
                                    <img src="img/sfera_5.jpg" alt="">
                                </div>
                                <div class="txt">
                                    <div class="descr">
                                        наборы из нескольких шариков разных по весу или форме.
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="p_artic">
                            <p>Формы и функции вагинальных шариков также разнообразны: в виде шаров, капелек, сердечек,
                                овалов, яиц, вишенок; с вибрацией, выпуклые, ребристые, рельефные, гладкие и масса
                                других. Выбор за Вами!
                            </p>
                            <div class="tit">Как выбрать и использовать вагинальные шарики</div>
                            <p>
                                Если Вы только начинаете тренировать интимные мышцы, то стоит выбрать шарики большего
                                диаметра со смещенным центром тяжести, классически вариант — 3-3,5 см в диаметре.
                                Не помешает также наличие петельки, которая остается снаружи и служит для извлечения
                                массажера из влагалища.  По мере укрепления мышц можно переходить на шарики, имеющие
                                меньший диаметр и вес.
                            </p>
                            <p>
                                Перед использованием тренажера и после необходима его обработка очищающими
                                противомикробными средствами. Для комфортного введения вагинальных шариков
                                рекомендуется использовать смазку. Стоит отметить что смазки на силиконовой основе не
                                используют с силиконовыми игрушками, лучше использовать водную (Подробнее о смазках —
                                в статье <a href="/article/the-types-of-lubricants-what-gel-lubricant-choose.html">Виды лубрикантов</a>).
                            </p>
                            <p>
                                Начинают тренироваться с 15-30 минут в день, постепенно увеличивая время. Удерживайте
                                тренажер внутри, сжимайте, выталкивайте, затягивайте обратно. Если на начальном этапе
                                получится только лежать или сидеть с шариками, то затем прогулки и домашние дела можно
                                будет совмещать с использованием тренажера.
                            </p>
                            <p>
                                Женщинам, имеющим воспалительные и инфекционные заболевания, аллергические реакции,
                                перед применением вагинальных шариков необходимо проконсультироваться с врачом. Также
                                следует воздержаться от подобных тренировок сразу после родов.
                            </p>
                            <p>
                                Помимо укрепления интимных мышц и увеличения чувствительности при половом акте,
                                тренировки с помощью вагинальных шариков повышают кровоснабжение в области малого
                                таза, что положительно влияет на женское здоровье.
                            </p>
                        </div>
                        <div class="go_to_shop">
                            <a href="#">Выбрать вагинальные шарики</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <footer>
                <div class="inner">
                    <div class="logo">
                        <a href="#">Логотип</a>
                    </div>
                    <div class="menu">
                        <div class="col">
                            <span><a href="#">О нас</a></span>
                            <span><a href="#">Выбрать размер</a></span>
                            <span><a href="#">Конфиденциальность</a></span>
                        </div>
                        <div class="col">
                            <span><a href="#">Оплата</a></span>
                            <span><a href="#">Доставка</a></span>
                            <span><a href="#">Обмен и возврат</a></span>
                        </div>
                        <div class="col">
                            <span><a href="#">Помощь</a></span>
                            <span><a href="#">Карта сайта</a></span>
                            <span><a href="#">Обратная связь</a></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="copy">
                        <span>На сайте представлены товары для взрослых</span>
                        © 2018 Магазин
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>