<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Главная</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/fonts.css">
        <link href="css/style.css" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="js/jquery.min_1.11.0.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/slick.js"></script>
        <script src="js/script.js"></script>
        <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    </head>
    <body>
        <div id="wrapper" class="">
            <header class="">
                <div class="hat">
                    <div class="inner">
                        <div class="logo">
                            <a href="/">Логотип</a>
                        </div>
                        <div class="search">
                            <a href="#" class="main"></a>
                            <form action="">
                                <input type="text" placeholder="Поиск...">
                                <input type="submit" value="">
                            </form>
                        </div>
                        <div class="phone">
                            <a href="tel:89518561905"></a>
                        </div>
                        <div class="lk">
                            <a href="#"></a>
                        </div>
                        <div class="basket">
                            <a href="#"></a>
                        </div>
                    </div>
                </div>
                <div class="menu">
                    <div class="block">
                        <div class="item">
                            <a class="main" href="#">Для нее</a>
                            <div class="sub_block">
                                <div class="sub_item">
                                    <span><a href="#">Стимуляторы</a></span>
                                    <span><a href="#">Анальные стимуляторы</a></span>
                                    <span><a href="#">Вагинальные стимуляторы</a></span>
                                    <span><a href="#">Какие-то стимуляторы</a></span>
                                </div>
                                <div class="sub_item">
                                    <span><a href="#">Вагинальные шарики</a></span>
                                </div>
                                <div class="sub_item">
                                    <span><a href="#">Вакуумные помпы</a></span>
                                </div>
                                <div class="sub_item">
                                    <span><a href="#">Вибраторы</a></span>
                                </div>
                                <div class="sub_item">
                                    <span><a href="#">Вибротрусики, бабочки</a></span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="item">
                            <a class="main" href="#">Для него</a>
                            <div class="sub_block">
                                <div class="sub_item">
                                    <span><a href="#">Анальные стимуляторы</a></span>
                                </div>
                                <div class="sub_item">
                                    <span><a href="#">Вибраторы</a></span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="item">
                            <a class="main" href="#">Для пар</a>
                            <div class="sub_block">
                                <div class="sub_item">
                                    <span><a href="#">Стимуляторы</a></span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="item">
                            <a class="main" href="#">Белье</a>
                            <div class="sub_block">
                                <div class="sub_item">
                                    <span><a href="#">Стимуляторы</a></span>
                                </div>
                                <div class="sub_item">
                                    <span><a href="#">Вибраторы</a></span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="item">
                            <a class="main" href="#">БДСМ</a>
                            <div class="sub_block">
                                <div class="sub_item">
                                    <span><a href="#">Стимуляторы</a></span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </header>
            <div class="main_content">
                <div class="poster mini">
                    <a href="#">
                        <img src="img/lub1.jpg" alt="foto">
                    </a>
                </div>
                <div class="pagination_top">
                    <a href="#">Главная</a>
                    <a href="#">Статьи</a>
                    <a href="#">Виды фаллоимитаторов</a>
                </div>
                <div class="page_article">
                    <div class="list_artic">
                        <div class="title">Меню<span class="ic_show">+</span><span class="ic_hide">-</span><span class="cursor_wrap"></span></div>
                        <div class="block">
                            <a class="active" href="/personal/">Виды фаллоимитаторов</a>
                            <a href="/personal/order/">Какую смазку для интима выбрать.</a>
                            <a href="/personal/private/">Страпон. Что это и как использовать.</a>
                            <a href="/personal/cart/">Из каких материалов делают секс-игрушки.</a>
                        </div>
                    </div>
                    <div class="text_artic">
                        <h1>Виды лубрикантов. Какую гель-смазку выбрать.</h1>
                        <div class="p_artic">
                            <p>
                                <span>Лубрикант</span> - это смазка, которой обрабатывают половые органы в презервативе или без,
                                интимные игрушки для более комфортного скольжения в сексе. Обычно требуется если
                                естественной смазки у партнерши вырабатывается недостаточно, для анального секса
                                и в ряде других, случаев - рассмотрим их ниже.
                            </p>
                            <p>
                                Лубриканты, как правило,
                                изготавливаются на основе <a href="#">водной</a> или силиконовой составляющей.
                                Первые не оставляют загрязнений и пятен на одежде/белье и просто смываются водой.
                                Однако, они имеют свойство быстро высыхать,
                                поэтому во время полового акта, возможно, потребуется дополнительное нанесение.
                                Смазки на <a href="#">силиконовой</a> основе также широко распространены. Они продолжительное время
                                не высыхают, но могут оставить пятна на одежде или постельном белье.
                            </p>
                            <p>
                                Производители интимных товаров также предлагают лубриканты различных назначений и свойств:
                            </p>
                            <p>-<span>ароматизированные</span> гели с выраженным ароматом, как правило, цветов и фруктов;</p>
                            <p>-<span>вкусовые</span> - специально для оральных ласк созданы съедобные лубриканты, за попадание
                                которых в организм можно не беспокоится. К тому же они имеют приятный вкус;
                            </p>
                            <p>-<span>анестетики</span> используются преимущественно для анального секса чтобы снизить болевые ощущения;</p>
                            <p>-<span>антисептические</span> помимо увеличения скольжения, дополнительно защищают от некоторых инфекций;</p>
                            <p>-
                                <span>спермицидные</span> способны задерживать движение сперматозоидов, вызывая их дальнейшую гибель.
                                В их состав могут входить химические вещества, оказывающие воздействие на слизистую.
                                Определенное время после полового акта нельзя смывать водой;
                            </p>
                            <p>-
                                <a href="#">пролонгаторы</a> - смазки, способствующие продлению полового акта за счет снижения
                                чувствительности нервных окончаний полового члена. Они оказывают влияние именно на
                                отдаление момента эякуляции, а не на скольжение - для этого нужно использовать
                                соответствующее средство;
                            </p>
                            <p>-
                                <a href="#">возбуждающие</a> разогревающие за счет дополнительной стимуляции рецепторов происходит
                                приливание крови к половым органам. Подходит для возбуждающего интимного массажа.
                            </p>
                        </div>
                        <div class="go_to_shop">
                            <a href="#">Выбрать смазку</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <footer>
                <div class="inner">
                    <div class="logo">
                        <a href="#">Логотип</a>
                    </div>
                    <div class="menu">
                        <div class="col">
                            <span><a href="#">О нас</a></span>
                            <span><a href="#">Выбрать размер</a></span>
                            <span><a href="#">Конфиденциальность</a></span>
                        </div>
                        <div class="col">
                            <span><a href="#">Оплата</a></span>
                            <span><a href="#">Доставка</a></span>
                            <span><a href="#">Обмен и возврат</a></span>
                        </div>
                        <div class="col">
                            <span><a href="#">Помощь</a></span>
                            <span><a href="#">Карта сайта</a></span>
                            <span><a href="#">Обратная связь</a></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="copy">
                        <span>На сайте представлены товары для взрослых</span>
                        © 2018 Магазин
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>