<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Главная</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/fonts.css">
        <link href="css/style.css" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="js/jquery.min_1.11.0.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/slick.js"></script>
        <script src="js/script.js"></script>
        <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    </head>
    <body>
        <div id="wrapper" class="">
            <header class="">
                <div class="hat">
                    <div class="inner">
                        <div class="logo">
                            <a href="/">Логотип</a>
                        </div>
                        <div class="search">
                            <a href="#" class="main"></a>
                            <form action="">
                                <input type="text" placeholder="Поиск...">
                                <input type="submit" value="">
                            </form>
                        </div>
                        <div class="phone">
                            <a href="tel:89518561905"></a>
                        </div>
                        <div class="lk">
                            <a href="#"></a>
                        </div>
                        <div class="basket">
                            <a href="#"></a>
                        </div>
                    </div>
                </div>
                <div class="menu">
                    <div class="block">
                        <div class="item">
                            <a class="main" href="#">Для нее</a>
                            <div class="sub_block">
                                <div class="sub_item">
                                    <span><a href="#">Стимуляторы</a></span>
                                    <span><a href="#">Анальные стимуляторы</a></span>
                                    <span><a href="#">Вагинальные стимуляторы</a></span>
                                    <span><a href="#">Какие-то стимуляторы</a></span>
                                </div>
                                <div class="sub_item">
                                    <span><a href="#">Вагинальные шарики</a></span>
                                </div>
                                <div class="sub_item">
                                    <span><a href="#">Вакуумные помпы</a></span>
                                </div>
                                <div class="sub_item">
                                    <span><a href="#">Вибраторы</a></span>
                                </div>
                                <div class="sub_item">
                                    <span><a href="#">Вибротрусики, бабочки</a></span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="item">
                            <a class="main" href="#">Для него</a>
                            <div class="sub_block">
                                <div class="sub_item">
                                    <span><a href="#">Анальные стимуляторы</a></span>
                                </div>
                                <div class="sub_item">
                                    <span><a href="#">Вибраторы</a></span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="item">
                            <a class="main" href="#">Для пар</a>
                            <div class="sub_block">
                                <div class="sub_item">
                                    <span><a href="#">Стимуляторы</a></span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="item">
                            <a class="main" href="#">Белье</a>
                            <div class="sub_block">
                                <div class="sub_item">
                                    <span><a href="#">Стимуляторы</a></span>
                                </div>
                                <div class="sub_item">
                                    <span><a href="#">Вибраторы</a></span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="item">
                            <a class="main" href="#">БДСМ</a>
                            <div class="sub_block">
                                <div class="sub_item">
                                    <span><a href="#">Стимуляторы</a></span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </header>
            <div class="main_content">
                <div class="pagination_top">
                    <a href="#">Главная</a>
                    <a href="#">Статьи</a>
                    <a href="#">Виды фаллоимитаторов</a>
                </div>
                <div class="page_article">
                    <div class="list_artic">
                        <div class="title">Меню<span class="ic_show">+</span><span class="ic_hide">-</span><span class="cursor_wrap"></span></div>
                        <div class="block">
                            <a class="active" href="/personal/">Виды фаллоимитаторов</a>
                            <a href="/personal/order/">Какую смазку для интима выбрать.</a>
                            <a href="/personal/private/">Страпон. Что это и как использовать.</a>
                            <a href="/personal/cart/">Из каких материалов делают секс-игрушки.</a>
                        </div>
                    </div>

                    <div class="text_artic">
                        <h1>Анальная пробка: зачем и как использовать</h1>


                        <div class="p_artic">
                            <div class="tit">Для чего нужна анальная пробка</div>
                            <p>
                                Секс-игрушка специальной формы, предназначенная для стимуляции и ласк ануса называется
                                анальной пробкой. На самом деле такие устройства служат для достижения нескольких целей:
                            </p>
                            <p>
                                - помогает подготовиться к анальному сексу. Вначале можно ввести пробку меньшего
                                размера, дать мышцам привыкнуть 5-10 минут, затем можно использовать втулку большего
                                диаметра или перейти непосредственно к анальному сексу;
                            </p>
                            <p>
                                - дает ощущение наполненности, что дарит ряд положительных ощущений и эмоций, а кроме
                                того вызывает чувство возбуждения;
                            </p>
                            <p>
                                - эффект двойного проникновения (ощущение двух пенисов в анусе и вагине одновременно).
                                Пробка, вставленная в анус, сужает влагалище и делает проникновение более чувственным.
                                Так как между вагиной и анусом расположена тонкая стеночка, то и мужчина тоже получает
                                дополнительную стимуляцию не только от более крепкого обхвата пениса мышцами вагины, но
                                и от трения о находящуюся по соседству пробочку;
                            </p>
                            <p>
                                - для ношения — можно заниматься повседневными делами, сидеть на работе или гулять по
                                парку и в то же время подвергаться анальным ласкам. А если еще использовать пробки с
                                вибрацией на дистанционном управлении, то можно испытывать оргазмы в совсем необычных и
                                неожиданных местах незаметно для окружающих;
                            </p>
                            <p>
                                - для фистинга и расширения. Особые ощущения приносит увеличение пробки в размерах,
                                если при этом она находится в попке. Такие плаги подойдут также для тех, кто хочет в
                                дальнейшем заняться фистингом;
                            </p>
                            <p>
                                - для массажа простаты у мужчин. Рано или поздно, у мужчин может возникнуть потребность
                                в стимуляции предстательной железы. В этом деликатном вопросе можно прибегнуть к
                                использованию специальной анальной пробки. Такие втулки имеют особую форму с загнутым
                                кончиком для внутреннего воздействия и часто с элементами для внешней стимуляции в
                                области промежности. Часто используются пробки с вибрацией или для ношения;
                            </p>
                            <p>
                                - в ролевых играх могут использоваться пробки с хвостиками животных. Особой
                                популярностью пользуются втулки с пушистыми хвостами.
                            </p>
                            <div class="tit">Как пользоваться анальной пробкой</div>
                            <p>
                                Так как в прямой кишке находится очень большое количество бактерий, то необходимо
                                основательно подойти к подготовке к анальному сексу. В первую очередь нужно тщательно
                                провести гигиенические процедуры — поставить клизму, сделать анальный душ и т. д.
                                Также перед анальными играми и после необходимо тщательно вымыть, обработать
                                антимикробным средством и хорошо высушить саму пробку.
                            </p>
                            <p>
                                В отличие от влагалища, где смазка вырабатывается естественным путем, в анусе она
                                отсутствует, поэтому обязательно использование искусственной смазки, предназначенной
                                для анального секса. О видам смазок и их использовании можно почитать
                                <a href="/article/the-types-of-lubricants-what-gel-lubricant-choose.html">здесь</a>.
                                Чем больше смазки вы нанесете, тем меньше риск получить микротравму стенок ануса.
                            </p>
                            <p>
                                Для занятий с попкой используйте только специализированные игрушки — они имеют
                                ограничитель, который не позволит устройству проникнуть в кишку полностью. В связи с
                                этим, настоятельно не рекомендуется использовать для анальной стимуляции подручные
                                средства, пищевые продукты и другие предметы. При погружении этих вещей в анус
                                полностью, извлекать их придется с помощью врача.
                            </p>
                            <p>
                                Выбирайте размер анальной пробки исходя из своих особенностей организма и опыта.
                                Начинать лучше с пробочек небольшого размера. Перед половым актом можно использовать
                                пробки разных размеров — по мере привыкания перейти на пробку большего диаметра.
                            </p>
                            <div class="tit">Основные виды анальных пробок</div>
                        </div>
                        <div class="img_block">
                            <div class="item">
                                <div class="img">
                                    <img src="/local/templates/main/img/anal_plag_1.jpg" alt="">
                                </div>
                                <div class="txt">
                                    <div class="descr">
                                        <a href="/catalog/param/bdsm-sado-mazo-tovary/intimnye-ukrasheniya/"></a>,
                                        кристаллами, розочками, стразами и прочее. Обычно имеют каплевидную форму и
                                        бывают разных диаметров и размеров. Красиво и эстетично смотрятся, выполнены
                                        преимущественно из нежного силикона или металла. Помогут настроиться на
                                        романтический лад, да и просто привлекательно выглядят;
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="item">
                                <div class="img">
                                    <img src="/local/templates/main/img/anal_plag_2.jpg" alt="">
                                </div>
                                <div class="txt">
                                    <div class="descr">
                                        <span>с хвостиками</span> — используются в ролевых играх, где один из партнеров предстает в
                                        образе животного;
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="item">
                                <div class="img">
                                    <img src="/local/templates/main/img/anal_plag_3.jpg" alt="">
                                </div>
                                <div class="txt">
                                    <div class="descr">
                                        <a href="/catalog/zhenshchinam/analnye-igrushki/analnye-probki/">без вибрации</a>
                                        служат для стимуляции ануса, бывают разнообразные по форме, цвету, размеру;
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="item">
                                <div class="img">
                                    <img src="/local/templates/main/img/anal_plag_4.jpg.jpg" alt="">
                                </div>
                                <div class="txt">
                                    <div class="descr">
                                        <a href="/catalog/zhenshchinam/analnye-igrushki/analnye-vibratory/">с вибрацией</a>
                                        эта дополнительная функция делает стимуляцию более яркой и способствует нежному
                                        расслаблению мышц ануса;
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="item">
                                <div class="img">
                                    <img src="/local/templates/main/img/anal_plag_5.jpg" alt="">
                                </div>
                                <div class="txt">
                                    <div class="descr">
                                        <span>для ношения</span>
                                        отличаются от классических продолговатым узким ограничителем, который
                                        располагается между ягодиц и не мешает при ходьбе. Для таких плагов характерен
                                        резкий переход от широкой части к узкой. После введения пробки сфинктер
                                        сжимается на узкой ножке и не дает ей перемещаться;
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="item">
                                <div class="img">
                                    <img src="/local/templates/main/img/anal_plag_6.jpg" alt="">
                                </div>
                                <div class="txt">
                                    <div class="descr">
                                        <a href="/catalog/zhenshchinam/analnye-igrushki/naduvnye-rasshiriteli/">надувные</a>
                                        — пробка соединенная с грушей для нагнетания воздуха. Такая втулка сначала
                                        вводится в анус, а затем увеличивается путем накачивания до нужного размера.
                                        Подойдет для первых шагов на пути к фистингу;
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="item">
                                <div class="img">
                                    <img src="/local/templates/main/img/anal_plag_7.jpg" alt="">
                                </div>
                                <div class="txt">
                                    <div class="descr">
                                        <a href="/catalog/muzhchinam/massazhery-prostaty/">стимуляторы простаты для мужчин</a>
                                        о которых мы уже упоминали выше. Используются для профилактики простатита и
                                        получения удовольствия. Некоторые модели совмещены с эрекционными кольцами для
                                        большей стимуляции;
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="item">
                                <div class="img">
                                    <img src="/local/templates/main/img/anal_plag_8.jpg" alt="">
                                </div>
                                <div class="txt">
                                    <div class="descr">
                                        <span>тоннели</span>
                                        анальный пробки со сквозным отверстием, через которое можно просовывать
                                        дополнительные секс-игрушки и точечно стимулировать стенки ануса.
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="p_artic">
                            <div class="tit">Как часто можно использовать?</div>
                            <p>
                                Латексные пробки следует носить не более 6 часов в день, а резиновые около 3 часов при
                                частоте использования 1 раз в неделю. Важно помнить, что анус должен выполнять свои
                                физиологические функции, поэтому стоит с осторожностью относится к анальным играм,
                                особенно это касается длительного ношения плагов.
                            </p>
                        </div>

                        <div class="go_to_shop">
                            <a href="#">Выбрать анальную пробку</a>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
            <footer>
                <div class="inner">
                    <div class="logo">
                        <a href="#">Логотип</a>
                    </div>
                    <div class="menu">
                        <div class="col">
                            <span><a href="#">О нас</a></span>
                            <span><a href="#">Выбрать размер</a></span>
                            <span><a href="#">Конфиденциальность</a></span>
                        </div>
                        <div class="col">
                            <span><a href="#">Оплата</a></span>
                            <span><a href="#">Доставка</a></span>
                            <span><a href="#">Обмен и возврат</a></span>
                        </div>
                        <div class="col">
                            <span><a href="#">Помощь</a></span>
                            <span><a href="#">Карта сайта</a></span>
                            <span><a href="#">Обратная связь</a></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="copy">
                        <span>На сайте представлены товары для взрослых</span>
                        © 2018 Магазин
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>